n8n-workflows/EPIC Dashboard Plugin — Risk Score Example.json
{
  "name": "EPIC Dashboard Plugin — Risk Score Example",
  "nodes": [
    {
      "parameters": {
        "path": "list-panels",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1805849a-5ec4-41a9-a30d-83b6dc0c882e",
      "name": "GET /list-panels",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        976,
        208
      ],
      "webhookId": "list-panels"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ panels: [{ id: 'risk-score', label: 'Risk Score', title: 'Sepsis Risk Score', description: 'Lightweight sepsis screening via labs and vitals', webhook: 'risk-score-run', trigger: 'auto' }, { id: 'care-gaps', label: 'Care Gaps', title: 'Care Gap Analysis', description: 'Preventive care items the patient is overdue for', webhook: 'care-gaps-run', trigger: 'button', buttonLabel: 'Check Care Gaps' }] }) }}",
        "options": {}
      },
      "id": "527e9aa0-9429-4f29-82eb-7a6cb883a8ff",
      "name": "Return Panel Registry",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1200,
        208
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "risk-score-run",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "fc059308-60a7-4c5d-95e2-51a4b78a7078",
      "name": "POST /risk-score-run",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        976,
        432
      ],
      "webhookId": "risk-score-run"
    },
    {
      "parameters": {
        "url": "={{ 'http://r4:8080/hapi-fhir-jpaserver/fhir/Observation?patient=' + ($json.patientId || $json.body?.patientId || '') + '&category=vital-signs&_count=20&_format=json' }}",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "id": "d99dbefe-9ac6-4e89-abf7-b0a1e38f80ab",
      "name": "Fetch Vitals from FHIR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1200,
        432
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ─── VITALS-BASED RISK SCORE LOGIC ──────────────────────────\n// Input shape: { data: \"<FHIR Bundle as string>\" }\n\nconst input = $input.first().json || {};\n\nlet bundle = {};\ntry {\n  bundle = typeof input.data === 'string' ? JSON.parse(input.data) : (input.data || input);\n} catch (err) {\n  return [{\n    json: {\n      cards: [{\n        summary: 'Risk score unavailable',\n        indicator: 'warning',\n        detail: `Could not parse vitals bundle: ${err.message}`,\n        source: { label: 'n8n Risk Score Plugin' }\n      }]\n    }\n  }];\n}\n\nconst entries = bundle.entry?.map(e => e.resource) ?? [];\n\nif (!Array.isArray(entries) || entries.length === 0) {\n  return [{\n    json: {\n      cards: [{\n        summary: 'Risk score unavailable',\n        indicator: 'warning',\n        detail: 'No vital sign observations were found for this patient.',\n        source: { label: 'n8n Risk Score Plugin' }\n      }]\n    }\n  }];\n}\n\nlet score = 0;\nconst flags = [];\n\nfor (const obs of entries) {\n  const name = (obs.code?.text || obs.code?.coding?.[0]?.display || '').toLowerCase();\n\n  // Standard single-value observations\n  const value = obs.valueQuantity?.value;\n\n  if (value !== undefined && value !== null) {\n    // Weight\n    if (name.includes('body weight') || name.includes('weight')) {\n      if (value > 5) {\n        score += 1;\n        flags.push(`Higher weight marker (${value.toFixed(1)} kg)`);\n      }\n    }\n\n    // Pain score\n    if (name.includes('pain severity') || name.includes('pain')) {\n      if (value >= 4) {\n        score += 1;\n        flags.push(`Pain score elevated (${value.toFixed(1)})`);\n      }\n    }\n  }\n\n  // Blood pressure in component array\n  if (Array.isArray(obs.component)) {\n    for (const comp of obs.component) {\n      const compName = (comp.code?.text || comp.code?.coding?.[0]?.display || '').toLowerCase();\n      const compValue = comp.valueQuantity?.value;\n\n      if (compValue === undefined || compValue === null) continue;\n\n      if (compName.includes('systolic')) {\n        if (compValue > 110) {\n          score += 1;\n          flags.push(`Systolic BP elevated (${compValue.toFixed(1)} mmHg)`);\n        } else if (compValue < 90) {\n          score += 2;\n          flags.push(`Systolic BP low (${compValue.toFixed(1)} mmHg)`);\n        }\n      }\n\n      if (compName.includes('diastolic')) {\n        if (compValue > 80) {\n          score += 1;\n          flags.push(`Diastolic BP elevated (${compValue.toFixed(1)} mmHg)`);\n        } else if (compValue < 60) {\n          score += 1;\n          flags.push(`Diastolic BP low (${compValue.toFixed(1)} mmHg)`);\n        }\n      }\n    }\n  }\n}\n\nconst level = score >= 4 ? 'warning' : 'info';\nconst label = score >= 4 ? 'MODERATE CONCERN' : score > 0 ? 'LOW CONCERN' : 'NO CONCERN';\nconst detail = flags.length\n  ? `Findings detected: ${flags.join('; ')}`\n  : 'No configured abnormalities were detected in the returned vital signs.';\n\nreturn [{\n  json: {\n    cards: [{\n      summary: `${label} — Risk Score: ${score}`,\n      indicator: level,\n      detail,\n      source: { label: 'n8n Risk Score Plugin' }\n    }]\n  }\n}];"
      },
      "id": "dc437d09-412b-4264-a1d7-574b5cf2db72",
      "name": "Compute Risk Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        432
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "cd6152cb-2c34-4581-aa0f-bbc3b854ce8d",
      "name": "Return Risk Cards",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1648,
        432
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "care-gaps-run",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d0289e79-4678-4f2c-8738-302819397dd5",
      "name": "POST /care-gaps-run",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        976,
        640
      ],
      "webhookId": "care-gaps-run"
    },
    {
      "parameters": {
        "url": "={{ 'http://r4:8080/hapi-fhir-jpaserver/fhir/Immunization?patient=' + ($json.patientId || $json.body?.patientId || '') + '&_count=50&_format=json' }}",
        "options": {}
      },
      "id": "b56e6e59-dbff-4dc1-8675-3cad3ddbff13",
      "name": "Fetch Immunizations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1200,
        640
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ─── CARE GAPS LOGIC ───────────────────────────────────────\n// Input shape here is: { data: \"<FHIR Bundle as string>\" }\n\nconst input = $input.first().json || {};\n\nlet bundle = {};\ntry {\n  bundle = typeof input.data === 'string' ? JSON.parse(input.data) : (input.data || input);\n} catch (err) {\n  return [{\n    json: {\n      table: {\n        headers: ['Debug', 'Status', 'Details'],\n        rows: [[\n          'Bundle Parse',\n          'Failed',\n          `Could not parse input.data: ${err.message}`\n        ]]\n      }\n    }\n  }];\n}\n\nconst imms = bundle.entry?.map(e => e.resource) ?? [];\n\nif (!Array.isArray(imms) || imms.length === 0) {\n  return [{\n    json: {\n      table: {\n        headers: ['Debug', 'Status', 'Details'],\n        rows: [[\n          'Immunization Fetch',\n          'No records found',\n          `Bundle keys: ${Object.keys(bundle).join(', ')}`\n        ]]\n      }\n    }\n  }];\n}\n\n// Normalize vaccine names from both text and coding.display\nconst receivedTexts = imms\n  .flatMap(i => [\n    i.vaccineCode?.text || '',\n    ...(i.vaccineCode?.coding?.map(c => c.display || '') || [])\n  ])\n  .map(s => s.toLowerCase().trim())\n  .filter(Boolean);\n\n// Helper matcher\nconst hasMatch = (keywords) =>\n  receivedTexts.some(text => keywords.some(k => text.includes(k)));\n\nconst standard = [\n  {\n    name: 'Influenza',\n    keywords: ['influenza', 'flu']\n  },\n  {\n    name: 'Pneumococcal',\n    keywords: ['pneumococcal', 'pcv', 'pneumo']\n  },\n  {\n    name: 'Tdap / DTaP',\n    keywords: ['tdap', 'dtap']\n  },\n  {\n    name: 'COVID-19',\n    keywords: ['covid']\n  },\n  {\n    name: 'Hepatitis B',\n    keywords: ['hepatitis b', 'hep b']\n  }\n];\n\nconst headers = ['Vaccine', 'Status', 'Recommended Action'];\nconst rows = [];\n\nfor (const vaccine of standard) {\n  const present = hasMatch(vaccine.keywords);\n\n  rows.push([\n    vaccine.name,\n    present ? '✓ On record' : '⚠ Not on record',\n    present ? 'No action needed' : 'Review and offer if eligible'\n  ]);\n}\n\nreturn [{\n  json: {\n    table: {\n      headers,\n      rows\n    }\n  }\n}];"
      },
      "id": "f9e6ce05-c9ba-43c1-a8cc-1855aeba2d8e",
      "name": "Evaluate Care Gaps",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        640
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "7ce15e72-5532-42f8-b1f7-d10f119820d7",
      "name": "Return Care Gaps Table",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1648,
        640
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "GET /list-panels": {
      "main": [
        [
          {
            "node": "Return Panel Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /risk-score-run": {
      "main": [
        [
          {
            "node": "Fetch Vitals from FHIR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Vitals from FHIR": {
      "main": [
        [
          {
            "node": "Compute Risk Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Risk Score": {
      "main": [
        [
          {
            "node": "Return Risk Cards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /care-gaps-run": {
      "main": [
        [
          {
            "node": "Fetch Immunizations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Immunizations": {
      "main": [
        [
          {
            "node": "Evaluate Care Gaps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Care Gaps": {
      "main": [
        [
          {
            "node": "Return Care Gaps Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "55a4e427-c8a7-487b-bea2-451f2abe13b9",
  "meta": {
    "instanceId": "30c7489ae6df6416bf7b82af3be55103f5e110fc086279231ebffae2ccb22650"
  },
  "id": "lGVXZ1dZ9WDMQCBy",
  "tags": []
}