n8n-workflows/EPIC_Dashboard_Plugin_Full_AI_Suite_updated.json
{
  "name": "EPIC Dashboard Plugin \u2014 Full AI Suite",
  "nodes": [
    {
      "parameters": {
        "path": "list-panels",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f2874dfd-185d-455a-832b-c7b2daaaf871",
      "name": "GET /list-panels",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        2016,
        1584
      ],
      "webhookId": "list-panels"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ panels: [{ id: 'risk-score', label: 'Risk Score', title: 'Sepsis Risk Score', description: 'Vitals-based sepsis screening \u2014 latest readings only', webhook: 'risk-score-run', trigger: 'auto' }, { id: 'care-gaps', label: 'Care Gaps', title: 'Care Gap Analysis', description: 'Preventive care items the patient may be overdue for', webhook: 'care-gaps-run', trigger: 'button', buttonLabel: 'Check Care Gaps' }, { id: 'discharge-summary', label: 'Discharge Summary', title: 'AI Discharge Summary', description: 'AI-generated discharge summary from patient record', webhook: 'discharge-summary', trigger: 'button', buttonLabel: 'Generate Summary' }, { id: 'previsit-summary', label: 'Pre-Visit Summary', title: 'AI Pre-Visit Brief', description: 'AI-generated pre-visit briefing for providers', webhook: 'previsit-summary', trigger: 'button', buttonLabel: 'Generate Brief' }] }) }}",
        "options": {}
      },
      "id": "9e43e201-301d-412a-8764-81950478ad7b",
      "name": "Return Panel Registry",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2240,
        1584
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "risk-score-run",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "48d2ca0e-7e44-4a10-885a-ae66b97f16cd",
      "name": "POST /risk-score-run",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        2016,
        1808
      ],
      "webhookId": "risk-score-run"
    },
    {
      "parameters": {
        "url": "={{ 'http://r4:8080/hapi-fhir-jpaserver/fhir/Observation?patient=' + ($json.patientId || $json.body?.patientId || '') + '&category=vital-signs&_count=100&_sort=-date&_format=json' }}",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "id": "efb26a7f-12f3-4c7f-b37a-335a7e280759",
      "name": "Fetch Vitals from FHIR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2240,
        1808
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// \u2500\u2500\u2500 RISK SCORE \u2014 LATEST READINGS ONLY \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst input = $input.first().json || {};\n\n// Parse FHIR bundle from all possible wrapper shapes\nlet bundle = {};\ntry {\n  const raw = input.data ?? input.body ?? input;\n  bundle = typeof raw === 'string' ? JSON.parse(raw) : raw;\n  if (!bundle.entry && !bundle.resourceType) {\n    const inner = bundle.data ?? bundle.body ?? null;\n    if (inner) bundle = typeof inner === 'string' ? JSON.parse(inner) : inner;\n  }\n} catch (err) {\n  return [{ json: { html: `<div style='padding:16px;background:#fef2f2;border:1px solid #fca5a5;border-radius:8px;color:#991b1b'><strong>Could not parse vitals:</strong> ${err.message}</div>` } }];\n}\n\nconst entries = bundle.entry?.map(e => e.resource) ?? [];\n\nif (!entries.length) {\n  return [{ json: { html: `<div style='padding:16px;background:#fefce8;border:1px solid #fde047;border-radius:8px;color:#854d0e'><strong>Risk score unavailable</strong><br>No vital signs found for this patient.</div>` } }];\n}\n\n// Deduplicate: keep only the latest per vital type\nconst latestByType = new Map();\nfor (const obs of entries) {\n  const typeKey = obs.code?.text || obs.code?.coding?.[0]?.display || obs.code?.coding?.[0]?.code || 'unknown';\n  const obsDate = new Date(obs.effectiveDateTime || obs.issued || 0);\n  const existing = latestByType.get(typeKey);\n  if (!existing || obsDate > new Date(existing.effectiveDateTime || existing.issued || 0)) {\n    latestByType.set(typeKey, obs);\n  }\n}\n\nconst latest = Array.from(latestByType.values());\n\nlet score = 0;\nconst rows = [];\nconst fmtDate = (d) => d ? new Date(d).toLocaleDateString('en-US', { year:'numeric', month:'short', day:'numeric' }) : '\u2014';\n\nfor (const obs of latest) {\n  const name   = (obs.code?.text || obs.code?.coding?.[0]?.display || 'Unknown vital').trim();\n  const date   = fmtDate(obs.effectiveDateTime || obs.issued);\n  const val    = obs.valueQuantity?.value;\n  const unit   = obs.valueQuantity?.unit || '';\n  const nameLo = name.toLowerCase();\n\n  if (val !== undefined && val !== null) {\n    let status = 'normal';\n    let note   = 'Within expected range';\n\n    if (nameLo.includes('heart rate') || nameLo.includes('pulse')) {\n      if (val > 100)       { score += 2; status = 'high';       note = `Tachycardia (>100 bpm)`; }\n      else if (val < 60)   { score += 1; status = 'low';        note = `Bradycardia (<60 bpm)`; }\n    } else if (nameLo.includes('respiratory') || nameLo.includes('breath')) {\n      if (val > 20)        { score += 2; status = 'high';       note = `Elevated respiratory rate (>20/min)`; }\n      else if (val < 12)   { score += 1; status = 'low';        note = `Low respiratory rate (<12/min)`; }\n    } else if (nameLo.includes('temperature') || nameLo.includes('body temp')) {\n      if (val > 38.3)      { score += 2; status = 'high';       note = `Fever (${val.toFixed(1)}\u00b0C)`; }\n      else if (val < 36.0) { score += 1; status = 'low';        note = `Hypothermia (${val.toFixed(1)}\u00b0C)`; }\n    } else if (nameLo.includes('oxygen') || nameLo.includes('spo2') || nameLo.includes('saturation')) {\n      if (val < 94)        { score += 3; status = 'critical';   note = `Low O\u2082 saturation (<94%)`; }\n      else if (val < 96)   { score += 1; status = 'borderline'; note = `Borderline O\u2082 saturation`; }\n    } else if (nameLo.includes('pain')) {\n      if (val >= 7)        { score += 2; status = 'high';       note = `Severe pain (${val}/10)`; }\n      else if (val >= 4)   { score += 1; status = 'borderline'; note = `Moderate pain (${val}/10)`; }\n    } else if (nameLo.includes('bmi') || nameLo.includes('body mass index')) {\n      if (val >= 35)       { score += 1; status = 'borderline'; note = `Obese class II+ (BMI ${val.toFixed(1)})`; }\n      else if (val < 18.5) { score += 1; status = 'low';        note = `Underweight (BMI ${val.toFixed(1)})`; }\n    } else if (nameLo.includes('glucose') || nameLo.includes('blood glucose')) {\n      if (val > 200)       { score += 2; status = 'high';       note = `High glucose (${val.toFixed(0)} mg/dL)`; }\n      else if (val < 70)   { score += 2; status = 'low';        note = `Low glucose (${val.toFixed(0)} mg/dL)`; }\n    }\n\n    rows.push({ vital: name, value: `${val.toFixed(1)} ${unit}`.trim(), date, status, note });\n  }\n\n  if (Array.isArray(obs.component)) {\n    let sys = null; let dia = null;\n    for (const comp of obs.component) {\n      const cn = (comp.code?.text || comp.code?.coding?.[0]?.display || '').toLowerCase();\n      const cv = comp.valueQuantity?.value;\n      if (cv == null) continue;\n      if (cn.includes('systolic'))  sys = cv;\n      if (cn.includes('diastolic')) dia = cv;\n    }\n    if (sys !== null || dia !== null) {\n      let status = 'normal'; let note = 'BP within normal range'; let bpScore = 0;\n      const bpStr = `${sys !== null ? sys.toFixed(0) : '?'}/${dia !== null ? dia.toFixed(0) : '?'} mmHg`;\n      if (sys !== null) {\n        if (sys >= 180)      { bpScore += 3; status = 'critical';   note = `Hypertensive crisis (systolic ${sys} mmHg)`; }\n        else if (sys >= 140) { bpScore += 2; status = 'high';       note = `Stage 2 hypertension (systolic ${sys} mmHg)`; }\n        else if (sys >= 130) { bpScore += 1; status = 'borderline'; note = `Stage 1 hypertension (systolic ${sys} mmHg)`; }\n        else if (sys < 90)   { bpScore += 2; status = 'low';        note = `Hypotension (systolic ${sys} mmHg)`; }\n      }\n      if (dia !== null && bpScore === 0) {\n        if (dia >= 90)       { bpScore += 1; status = 'high';       note = `Elevated diastolic (${dia} mmHg)`; }\n        else if (dia < 60)   { bpScore += 1; status = 'low';        note = `Low diastolic (${dia} mmHg)`; }\n      }\n      score += bpScore;\n      rows.push({ vital: 'Blood Pressure', value: bpStr, date, status, note });\n    }\n  }\n}\n\nconst riskLevel  = score >= 6 ? 'critical' : score >= 4 ? 'high' : score >= 2 ? 'moderate' : 'low';\nconst riskLabels = { critical: '\ud83d\udd34 Critical', high: '\ud83d\udfe0 High', moderate: '\ud83d\udfe1 Moderate', low: '\ud83d\udfe2 Low' };\nconst riskColors = { critical: '#dc2626', high: '#ea580c', moderate: '#ca8a04', low: '#16a34a' };\nconst riskBg     = { critical: '#fef2f2', high: '#fff7ed', moderate: '#fefce8', low: '#f0fdf4' };\n\nconst statusBadge = (s) => {\n  const map = { critical:'#dc2626', high:'#ea580c', borderline:'#ca8a04', normal:'#16a34a', low:'#2563eb' };\n  const color = map[s] || '#6b7280';\n  return `<span style=\"background:${color}20;color:${color};border:1px solid ${color}40;border-radius:4px;padding:1px 7px;font-size:11px;font-weight:600;text-transform:uppercase\">${s}</span>`;\n};\n\nconst tableRows = rows.map(r => `\n  <tr style=\"border-bottom:1px solid #f0f0f0\">\n    <td style=\"padding:7px 10px;font-weight:500\">${r.vital}</td>\n    <td style=\"padding:7px 10px;font-family:monospace;font-size:13px\">${r.value}</td>\n    <td style=\"padding:7px 10px;color:#6b7280;font-size:12px\">${r.date}</td>\n    <td style=\"padding:7px 10px\">${statusBadge(r.status)}</td>\n    <td style=\"padding:7px 10px;color:#374151;font-size:12px\">${r.note}</td>\n  </tr>`).join('');\n\nconst html = `\n<div style=\"font-family:system-ui,sans-serif\">\n  <div style=\"background:${riskBg[riskLevel]};border:2px solid ${riskColors[riskLevel]};border-radius:10px;padding:16px 20px;margin-bottom:18px;display:flex;align-items:center;gap:18px\">\n    <div style=\"font-size:36px;font-weight:800;color:${riskColors[riskLevel]}\">${score}</div>\n    <div>\n      <div style=\"font-size:18px;font-weight:700;color:${riskColors[riskLevel]}\">${riskLabels[riskLevel]} Risk</div>\n      <div style=\"font-size:12px;color:#6b7280;margin-top:2px\">Composite score from latest vitals only \u00b7 ${rows.length} vital type(s) assessed</div>\n    </div>\n  </div>\n  <div style=\"border:1px solid #e5e7eb;border-radius:8px;overflow:hidden\">\n    <table style=\"width:100%;border-collapse:collapse\">\n      <thead>\n        <tr style=\"background:#f9fafb\">\n          <th style=\"padding:9px 10px;text-align:left;font-size:12px;color:#6b7280;font-weight:600\">VITAL SIGN</th>\n          <th style=\"padding:9px 10px;text-align:left;font-size:12px;color:#6b7280;font-weight:600\">LATEST VALUE</th>\n          <th style=\"padding:9px 10px;text-align:left;font-size:12px;color:#6b7280;font-weight:600\">DATE</th>\n          <th style=\"padding:9px 10px;text-align:left;font-size:12px;color:#6b7280;font-weight:600\">STATUS</th>\n          <th style=\"padding:9px 10px;text-align:left;font-size:12px;color:#6b7280;font-weight:600\">CLINICAL NOTE</th>\n        </tr>\n      </thead>\n      <tbody>${tableRows || '<tr><td colspan=\"5\" style=\"padding:14px;color:#9ca3af;text-align:center\">No scoreable vitals found</td></tr>'}</tbody>\n    </table>\n  </div>\n  <div style=\"font-size:11px;color:#9ca3af;margin-top:10px;text-align:right\">Score legend: O\u2082 sat critical=+3 \u00b7 BP crisis=+3 \u00b7 HR/RR/Temp abnormal=+2 \u00b7 BMI/Pain/others=+1</div>\n</div>`;\n\nreturn [{ json: { html } }];"
      },
      "id": "b066bd1b-ffc1-4c52-8a2b-7b95311b5edb",
      "name": "Compute Risk Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        1808
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "e6b95ed5-f264-47d5-abb4-3b153c5a3292",
      "name": "Return Risk Cards",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2688,
        1808
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "care-gaps-run",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "196a03b7-3116-4eaa-9480-f6adc25deacb",
      "name": "POST /care-gaps-run",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        2016,
        4880
      ],
      "webhookId": "care-gaps-run"
    },
    {
      "parameters": {
        "url": "={{ 'http://r4:8080/hapi-fhir-jpaserver/fhir/Immunization?patient=' + ($json.patientId || $json.body?.patientId || '') + '&_count=100&_sort=-date&_format=json' }}",
        "options": {}
      },
      "id": "20ba181e-d8a4-4a88-9bb9-1928a1b76a01",
      "name": "Fetch Immunizations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2240,
        4784
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ 'http://r4:8080/hapi-fhir-jpaserver/fhir/Observation?patient=' + ($input.first().json.patientId || '') + '&category=laboratory&_count=50&_sort=-date&_format=json' }}",
        "options": {}
      },
      "id": "3ea6c4ed-23ad-4c80-b67c-087c93a66aa1",
      "name": "Fetch Labs for Care Gaps",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2240,
        4976
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// \u2500\u2500\u2500 CARE GAPS \u2014 ENRICHED HTML OUTPUT \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n// Reads immunization bundle from node 0, lab bundle from node 1\n// Emits { html } with detailed gap analysis table + recommendations.\n\nconst allInputs = $input.all();\nconst immInput  = allInputs[0]?.json || {};\nconst labInput  = allInputs[1]?.json || {};\n\n// Parse bundles\nconst parseBundle = (raw) => {\n  try { return (typeof raw.data === 'string' ? JSON.parse(raw.data) : raw.data || raw); }\n  catch { return {}; }\n};\n\nconst immBundle = parseBundle(immInput);\nconst labBundle = parseBundle(labInput);\n\nconst imms = immBundle.entry?.map(e => e.resource) ?? [];\nconst labs = labBundle.entry?.map(e => e.resource) ?? [];\n\nconst fmtDate = (d) => d ? new Date(d).toLocaleDateString('en-US', { year:'numeric', month:'short', day:'numeric' }) : null;\n\n// \u2500\u2500 Immunization helpers \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst immTexts = imms.flatMap(i => [\n  i.vaccineCode?.text || '',\n  ...(i.vaccineCode?.coding?.map(c => c.display || c.code || '') || [])\n]).map(s => s.toLowerCase().trim()).filter(Boolean);\n\nconst findImm = (keywords) => {\n  for (const imm of imms) {\n    const texts = [\n      imm.vaccineCode?.text || '',\n      ...(imm.vaccineCode?.coding?.map(c => c.display || '') || [])\n    ].map(s => s.toLowerCase());\n    if (texts.some(t => keywords.some(k => t.includes(k)))) {\n      return fmtDate(imm.occurrenceDateTime || imm.recorded);\n    }\n  }\n  return null;\n};\n\n// \u2500\u2500 Lab helpers \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst findLab = (keywords) => {\n  for (const ob of labs) {\n    const name = (ob.code?.text || ob.code?.coding?.[0]?.display || '').toLowerCase();\n    if (keywords.some(k => name.includes(k))) {\n      const val  = ob.valueQuantity ? `${ob.valueQuantity.value?.toFixed(1)} ${ob.valueQuantity.unit || ''}`.trim() : ob.valueString || '\u2014';\n      const date = fmtDate(ob.effectiveDateTime || ob.issued);\n      return { val, date };\n    }\n  }\n  return null;\n};\n\n// \u2500\u2500 Screening catalogue \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst screenings = [\n  {\n    category: 'Immunizations',\n    items: [\n      { name:'Influenza (annual)',      keywords:['influenza','flu'],         type:'imm', frequency:'Annually',    priority:'routine' },\n      { name:'Pneumococcal (PCV)',      keywords:['pneumococcal','pcv','pneumo'], type:'imm', frequency:'Age-based', priority:'routine' },\n      { name:'Tdap / DTaP',            keywords:['tdap','dtap'],             type:'imm', frequency:'Every 10 yrs', priority:'routine' },\n      { name:'COVID-19',               keywords:['covid'],                   type:'imm', frequency:'Per guidelines', priority:'routine' },\n      { name:'Hepatitis B',            keywords:['hepatitis b','hep b'],     type:'imm', frequency:'3-dose series', priority:'routine' },\n      { name:'Hepatitis A',            keywords:['hepatitis a','hep a'],     type:'imm', frequency:'2-dose series', priority:'routine' },\n      { name:'Zoster (Shingrix)',       keywords:['zoster','shingrix','varicella zoster'], type:'imm', frequency:'2-dose (age 50+)', priority:'routine' },\n      { name:'MMR',                    keywords:['mmr','measles','mumps'],   type:'imm', frequency:'2 doses',       priority:'routine' },\n    ]\n  },\n  {\n    category: 'Lab Screenings',\n    items: [\n      { name:'Hemoglobin A1c',         keywords:['hemoglobin a1c','hba1c','a1c'], type:'lab', frequency:'Annually (diabetics)', priority:'important' },\n      { name:'Lipid Panel',            keywords:['lipid','cholesterol','ldl','hdl'], type:'lab', frequency:'Every 5 yrs',   priority:'important' },\n      { name:'Complete Blood Count',   keywords:['cbc','complete blood count','hemoglobin'], type:'lab', frequency:'Annual',    priority:'routine' },\n      { name:'Comprehensive Metabolic',keywords:['comprehensive metabolic','cmp','basic metabolic','bmp'], type:'lab', frequency:'Annual', priority:'routine' },\n      { name:'TSH (Thyroid)',          keywords:['tsh','thyroid stimulating'], type:'lab', frequency:'Every 5 yrs',   priority:'routine' },\n    ]\n  }\n];\n\n// \u2500\u2500 Build rows \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst priorityIcon = { important: '\ud83d\udd36', routine: '\ud83d\udd37' };\n\nlet totalItems = 0; let gapCount = 0;\nlet sectionHTMLs = [];\n\nfor (const section of screenings) {\n  const rows = [];\n  for (const item of section.items) {\n    totalItems++;\n    let lastDate = null; let lastValue = '\u2014'; let status;\n\n    if (item.type === 'imm') {\n      lastDate = findImm(item.keywords);\n      lastValue = lastDate ? '\u2713 Immunized' : '\u2014';\n    } else {\n      const found = findLab(item.keywords);\n      if (found) { lastDate = found.date; lastValue = found.val; }\n    }\n\n    if (lastDate) {\n      status = { color: '#16a34a', bg: '#f0fdf4', badge: '\u2713 On Record', action: 'No action needed' };\n    } else {\n      gapCount++;\n      const p = item.priority;\n      status = p === 'important'\n        ? { color: '#ea580c', bg: '#fff7ed', badge: '\u26a0 Gap \u2014 Important', action: 'Schedule soon' }\n        : { color: '#ca8a04', bg: '#fefce8', badge: '\u25cb Not on Record',   action: 'Review eligibility' };\n    }\n\n    rows.push(`\n    <tr style=\"border-bottom:1px solid #f0f0f0\">\n      <td style=\"padding:8px 10px\">\n        <span style=\"font-size:13px\">${priorityIcon[item.priority] || ''}</span>\n        <span style=\"font-weight:500;margin-left:4px\">${item.name}</span>\n      </td>\n      <td style=\"padding:8px 10px;color:#6b7280;font-size:12px\">${item.frequency}</td>\n      <td style=\"padding:8px 10px;color:#374151;font-size:13px;font-family:monospace\">${lastValue}</td>\n      <td style=\"padding:8px 10px;color:#6b7280;font-size:12px\">${lastDate || '\u2014'}</td>\n      <td style=\"padding:8px 10px\">\n        <span style=\"background:${status.bg};color:${status.color};border:1px solid ${status.color}40;border-radius:4px;padding:2px 8px;font-size:11px;font-weight:600;white-space:nowrap\">\n          ${status.badge}\n        </span>\n      </td>\n      <td style=\"padding:8px 10px;color:#374151;font-size:12px\">${status.action}</td>\n    </tr>`);\n  }\n\n  sectionHTMLs.push(`\n    <div style=\"margin-bottom:20px\">\n      <div style=\"font-size:13px;font-weight:700;color:#374151;padding:8px 10px;background:#f9fafb;border-radius:6px 6px 0 0;border:1px solid #e5e7eb;border-bottom:none\">\n        ${section.category}\n      </div>\n      <div style=\"border:1px solid #e5e7eb;border-radius:0 0 8px 8px;overflow:hidden\">\n        <table style=\"width:100%;border-collapse:collapse\">\n          <thead>\n            <tr style=\"background:#f9fafb;border-bottom:1px solid #e5e7eb\">\n              <th style=\"padding:7px 10px;text-align:left;font-size:11px;color:#6b7280;font-weight:600\">SCREENING</th>\n              <th style=\"padding:7px 10px;text-align:left;font-size:11px;color:#6b7280;font-weight:600\">FREQUENCY</th>\n              <th style=\"padding:7px 10px;text-align:left;font-size:11px;color:#6b7280;font-weight:600\">LAST VALUE</th>\n              <th style=\"padding:7px 10px;text-align:left;font-size:11px;color:#6b7280;font-weight:600\">LAST DATE</th>\n              <th style=\"padding:7px 10px;text-align:left;font-size:11px;color:#6b7280;font-weight:600\">STATUS</th>\n              <th style=\"padding:7px 10px;text-align:left;font-size:11px;color:#6b7280;font-weight:600\">ACTION</th>\n            </tr>\n          </thead>\n          <tbody>${rows.join('')}</tbody>\n        </table>\n      </div>\n    </div>`);\n}\n\n// \u2500\u2500 Summary bar \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\ufffd\ufffd\ufffd\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst pct = Math.round(((totalItems - gapCount) / totalItems) * 100);\nconst summaryColor = gapCount === 0 ? '#16a34a' : gapCount <= 3 ? '#ca8a04' : '#dc2626';\n\nconst html = `\n<div style=\"font-family:system-ui,sans-serif\">\n  <!-- Summary -->\n  <div style=\"background:#f8fafc;border:1px solid #e2e8f0;border-radius:10px;padding:14px 18px;margin-bottom:20px;display:flex;align-items:center;justify-content:space-between\">\n    <div>\n      <div style=\"font-size:16px;font-weight:700;color:#1e293b\">Preventive Care Summary</div>\n      <div style=\"font-size:12px;color:#64748b;margin-top:2px\">${totalItems - gapCount} of ${totalItems} screenings on record \u00b7 ${gapCount} potential gap(s)</div>\n    </div>\n    <div style=\"text-align:center\">\n      <div style=\"font-size:28px;font-weight:800;color:${summaryColor}\">${pct}%</div>\n      <div style=\"font-size:11px;color:#94a3b8\">Up to date</div>\n    </div>\n  </div>\n  ${sectionHTMLs.join('')}\n  <div style=\"font-size:11px;color:#9ca3af;margin-top:6px\">\ud83d\udd36 Important gap &nbsp;\u00b7&nbsp; \ud83d\udd37 Routine gap &nbsp;\u00b7&nbsp; Based on immunization and lab records in FHIR</div>\n</div>`;\n\nreturn [{ json: { html } }];"
      },
      "id": "cbf9896d-4b66-46eb-9f0a-1e0d86f0cfcb",
      "name": "Evaluate Care Gaps",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        4880
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "d3371393-c784-466e-a345-6a781f3e6ebe",
      "name": "Return Care Gaps Table",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2688,
        4880
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "discharge-summary",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3c7c7aae-ea81-4a44-b63a-552ff8db9e80",
      "name": "POST /discharge-summary",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        2016,
        2608
      ],
      "webhookId": "discharge-summary"
    },
    {
      "parameters": {
        "url": "={{ 'http://r4:8080/hapi-fhir-jpaserver/fhir/Patient/' + ($('POST /discharge-summary').first().json.body.patientId || '') + '?_format=json' }}",
        "options": {}
      },
      "id": "3c5b9647-3355-4aa7-983a-14a9497a6695",
      "name": "DS: Fetch Patient",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2240,
        2032
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ 'http://r4:8080/hapi-fhir-jpaserver/fhir/Condition?patient=' + ($('POST /discharge-summary').first().json.body.patientId || '') + '&_count=20&_format=json' }}",
        "options": {}
      },
      "id": "60ded279-dca5-4817-a5dc-c829f7b03b31",
      "name": "DS: Fetch Conditions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2240,
        2224
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ 'http://r4:8080/hapi-fhir-jpaserver/fhir/MedicationRequest?patient=' + ($('POST /discharge-summary').first().json.body.patientId || '') + '&_count=20&_format=json' }}",
        "options": {}
      },
      "id": "fc40d6b0-8973-4b39-9f98-63df99ea3b00",
      "name": "DS: Fetch Medications",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2240,
        2416
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ 'http://r4:8080/hapi-fhir-jpaserver/fhir/Observation?patient=' + ($('POST /discharge-summary').first().json.body.patientId || '') + '&category=vital-signs&_count=100&_sort=-date&_format=json' }}",
        "options": {}
      },
      "id": "109cb53d-21f0-4e13-91e7-e798c6900dde",
      "name": "DS: Fetch Vitals",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2240,
        2608
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ 'http://r4:8080/hapi-fhir-jpaserver/fhir/Observation?patient=' + ($('POST /discharge-summary').first().json.body.patientId || '') + '&category=laboratory&_count=20&_sort=-date&_format=json' }}",
        "options": {}
      },
      "id": "4fa74307-d00b-4cc2-aeb2-07ff136a619a",
      "name": "DS: Fetch Labs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2240,
        2800
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ 'http://r4:8080/hapi-fhir-jpaserver/fhir/AllergyIntolerance?patient=' + ($('POST /discharge-summary').first().json.body.patientId || '') + '&_count=20&_format=json' }}",
        "options": {}
      },
      "id": "158f6a17-81f8-4167-b952-cecee56f2bec",
      "name": "DS: Fetch Allergies",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2240,
        2992
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ 'http://r4:8080/hapi-fhir-jpaserver/fhir/Encounter?patient=' + ($('POST /discharge-summary').first().json.body.patientId || '') + '&_count=5&_sort=-date&_format=json' }}",
        "options": {}
      },
      "id": "ff88683e-0869-4f4f-94d2-069b81508569",
      "name": "DS: Fetch Encounters",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2240,
        3184
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// \u2500\u2500\u2500 DISCHARGE SUMMARY \u2014 ASSEMBLE FHIR CONTEXT \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n// Collects all fetched FHIR data and builds a structured summary\n// payload to pass to the OpenAI node.\n\nconst parseB = (raw) => {\n  try { return (typeof raw?.data === 'string' ? JSON.parse(raw.data) : raw?.data || raw || {}); }\n  catch { return {}; }\n};\n\nconst all = $input.all();\nconst patient   = parseB(all[0]?.json);\nconst condB     = parseB(all[1]?.json);\nconst medB      = parseB(all[2]?.json);\nconst vitalB    = parseB(all[3]?.json);\nconst labB      = parseB(all[4]?.json);\nconst allergyB  = parseB(all[5]?.json);\nconst encB      = parseB(all[6]?.json);\n\nconst fmtDate = (d) => d ? new Date(d).toLocaleDateString('en-US', { year:'numeric', month:'short', day:'numeric' }) : '\u2014';\nconst getName  = (p) => { const n = p?.name?.[0]; return n ? [n.family, ...(n.given||[])].filter(Boolean).join(', ') : 'Unknown'; };\nconst getAge   = (bd) => { if (!bd) return '?'; const t=new Date(); const d=new Date(bd); let a=t.getFullYear()-d.getFullYear(); if(t.getMonth()-d.getMonth()<0||(t.getMonth()-d.getMonth()===0&&t.getDate()<d.getDate()))a--; return a; };\nconst getObs   = (obs) => obs.valueQuantity ? `${obs.valueQuantity.value?.toFixed(1)} ${obs.valueQuantity.unit||''}`.trim() : (obs.valueString||'\u2014');\n\nconst conditions  = (condB.entry||[]).map(e => e.resource).map(c => `${c.code?.text||c.code?.coding?.[0]?.display||'?'} (${c.clinicalStatus?.coding?.[0]?.code||'?'})`);\nconst medications = (medB.entry||[]).map(e => e.resource).map(m => `${m.medicationCodeableConcept?.text||m.medicationCodeableConcept?.coding?.[0]?.display||'?'} \u2014 ${m.status||'?'}`);\nconst vitals      = (vitalB.entry||[]).slice(0,10).map(e => e.resource).map(v => `${v.code?.text||'?'}: ${getObs(v)} (${fmtDate(v.effectiveDateTime)})`);\nconst labs        = (labB.entry||[]).slice(0,10).map(e => e.resource).map(l => `${l.code?.text||l.code?.coding?.[0]?.display||'?'}: ${getObs(l)} (${fmtDate(l.effectiveDateTime||l.issued)})`);\nconst allergies   = (allergyB.entry||[]).map(e => e.resource).map(a => `${a.code?.text||a.code?.coding?.[0]?.display||'?'} (${a.criticality||'\u2014'})`);\nconst encounters  = (encB.entry||[]).map(e => e.resource).map(enc => `${enc.type?.[0]?.text||enc.class?.display||'Encounter'} on ${fmtDate(enc.period?.start)} \u2014 ${enc.status||'?'}`);\n\nconst patientInfo = `Name: ${getName(patient)} | DOB: ${patient.birthDate||'?'} | Age: ${getAge(patient.birthDate)} | Gender: ${patient.gender||'?'} | MRN: ${patient.id||'?'}`;\n\nconst context = [\n  `PATIENT: ${patientInfo}`,\n  `\\nACTIVE CONDITIONS (${conditions.length}):\\n${conditions.join('\\n') || 'None recorded'}`,\n  `\\nMEDICATIONS (${medications.length}):\\n${medications.join('\\n') || 'None recorded'}`,\n  `\\nALLERGIES (${allergies.length}):\\n${allergies.join('\\n') || 'NKDA'}`,\n  `\\nRECENT VITALS:\\n${vitals.join('\\n') || 'None recorded'}`,\n  `\\nRECENT LAB RESULTS:\\n${labs.join('\\n') || 'None recorded'}`,\n  `\\nRECENT ENCOUNTERS:\\n${encounters.join('\\n') || 'None recorded'}`,\n].join('\\n');\n\nreturn [{ json: { context, patientName: getName(patient) } }];"
      },
      "id": "0d426757-3f2a-410f-a9cd-228c25e9d084",
      "name": "DS: Assemble Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        2608
      ]
    },
    {
      "parameters": {
        "jsCode": "// \u2500\u2500\u2500 FORMAT DISCHARGE SUMMARY HTML \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst input = $input.first().json;\nlet text = '';\n\ntry {\n  // AI Agent returns output in .output field\n  text = input.output || '';\n} catch { text = ''; }\n\nif (!text) {\n  return [{ json: { html: `<div style='padding:16px;background:#fef2f2;border:1px solid #fca5a5;border-radius:8px;color:#991b1b'><strong>AI Agent error:</strong> No response received. Check that OpenAI credentials are configured.</div>` } }];\n}\n\n// Convert markdown-style sections to HTML\nconst lines = text.split('\\n');\nlet html = '<div style=\"font-family:system-ui,sans-serif;line-height:1.6\">';\nhtml += `<div style=\"background:#eff6ff;border:1px solid #bfdbfe;border-radius:8px;padding:12px 16px;margin-bottom:16px;font-size:13px;color:#1e40af\">\ud83d\udcc4 AI-generated discharge summary based on FHIR patient record. Review before clinical use.</div>`;\n\nfor (const line of lines) {\n  const trimmed = line.trim();\n  if (!trimmed) { html += '<br>'; continue; }\n  // Section headers (ALL CAPS or bold-style)\n  if (/^[A-Z][A-Z \\/(\\-]{4,}:?$/.test(trimmed) || trimmed.startsWith('**') && trimmed.endsWith('**')) {\n    const label = trimmed.replace(/^\\*\\*|\\*\\*$/g,'').replace(/:$/,'');\n    html += `<div style=\"margin-top:16px;margin-bottom:6px;font-size:13px;font-weight:700;color:#1e40af;text-transform:uppercase;letter-spacing:.5px;border-bottom:1px solid #e0e7ff;padding-bottom:4px\">${label}</div>`;\n  } else if (trimmed.startsWith('- ') || trimmed.startsWith('\u2022 ')) {\n    html += `<div style=\"padding:3px 0 3px 14px;border-left:3px solid #dbeafe;margin:2px 0;font-size:13px;color:#1e293b\">${trimmed.substring(2)}</div>`;\n  } else {\n    html += `<p style=\"margin:4px 0;font-size:13px;color:#1e293b\">${trimmed}</p>`;\n  }\n}\nhtml += '</div>';\n\nreturn [{ json: { html } }];"
      },
      "id": "3993f5a8-485a-4b6a-950f-a4040e6908e0",
      "name": "DS: Format HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3040,
        2608
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "5af8baf2-17df-4b5e-8525-d5faeaab58e8",
      "name": "DS: Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3264,
        2608
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "previsit-summary",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1550e3e9-60fd-417f-954f-18577f4a8dc4",
      "name": "POST /previsit-summary",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        2016,
        3984
      ],
      "webhookId": "previsit-summary"
    },
    {
      "parameters": {
        "url": "={{ 'http://r4:8080/hapi-fhir-jpaserver/fhir/Patient/' + ($('POST /previsit-summary').first().json.body.patientId || '') + '?_format=json' }}",
        "options": {}
      },
      "id": "8836b661-5851-4f96-b379-3de1d0072a15",
      "name": "PV: Fetch Patient",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2240,
        3408
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ 'http://r4:8080/hapi-fhir-jpaserver/fhir/Condition?patient=' + ($('POST /previsit-summary').first().json.body.patientId || '') + '&_count=20&_format=json' }}",
        "options": {}
      },
      "id": "ea1a5f1b-e4ea-4cd9-9d48-4b16792cf2ba",
      "name": "PV: Fetch Conditions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2240,
        3600
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ 'http://r4:8080/hapi-fhir-jpaserver/fhir/MedicationRequest?patient=' + ($('POST /previsit-summary').first().json.body.patientId || '') + '&_count=20&_format=json' }}",
        "options": {}
      },
      "id": "60236c51-65e9-4173-b255-87183728c8d1",
      "name": "PV: Fetch Medications",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2240,
        3792
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ 'http://r4:8080/hapi-fhir-jpaserver/fhir/Observation?patient=' + ($('POST /previsit-summary').first().json.body.patientId || '') + '&category=vital-signs&_count=10&_sort=-date&_format=json' }}",
        "options": {}
      },
      "id": "e141d0d6-4464-4ef8-a38b-cbb330addc8d",
      "name": "PV: Fetch Vitals",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2240,
        3984
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ 'http://r4:8080/hapi-fhir-jpaserver/fhir/Observation?patient=' + ($('POST /previsit-summary').first().json.body.patientId || '') + '&category=laboratory&_count=10&_sort=-date&_format=json' }}",
        "options": {}
      },
      "id": "84a93b74-2ede-44e8-aec0-d46c4bbd1d19",
      "name": "PV: Fetch Labs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2240,
        4176
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ 'http://r4:8080/hapi-fhir-jpaserver/fhir/AllergyIntolerance?patient=' + ($('POST /previsit-summary').first().json.body.patientId || '') + '&_count=20&_format=json' }}",
        "options": {}
      },
      "id": "4990198e-f141-4c22-a214-ce7754818ad5",
      "name": "PV: Fetch Allergies",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2240,
        4368
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ 'http://r4:8080/hapi-fhir-jpaserver/fhir/Immunization?patient=' + ($('POST /previsit-summary').first().json.body.patientId || '') + '&_count=20&_format=json' }}",
        "options": {}
      },
      "id": "94fe6de8-c935-47de-91c3-846c3a593ff7",
      "name": "PV: Fetch Immunizations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2240,
        4560
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// \u2500\u2500\u2500 PREVISIT SUMMARY \u2014 ASSEMBLE FHIR CONTEXT \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n\nconst parseJsonSafe = (value) => {\n  if (value == null) return {};\n  if (typeof value === 'string') {\n    try { return JSON.parse(value); } catch { return {}; }\n  }\n  return value;\n};\n\nconst parseFHIRFromNode = (nodeName) => {\n  try {\n    const raw = $(nodeName).first()?.json ?? {};\n    if (raw?.data !== undefined) return parseJsonSafe(raw.data);\n    if (raw?.body !== undefined) return parseJsonSafe(raw.body);\n    if (raw?.resourceType || raw?.entry) return raw;\n    return parseJsonSafe(raw);\n  } catch (e) { return {}; }\n};\n\nconst getResources = (bundle) =>\n  Array.isArray(bundle?.entry)\n    ? bundle.entry.map(e => e.resource).filter(Boolean)\n    : [];\n\nconst fmtDate = (d) => {\n  if (!d) return '\u2014';\n  const dt = new Date(d);\n  return isNaN(dt.getTime()) ? '\u2014' : dt.toLocaleDateString('en-US', { year:'numeric', month:'short', day:'numeric' });\n};\n\nconst getName = (p) => {\n  const n = p?.name?.[0];\n  if (!n) return 'Unknown';\n  return [...(n.given || []), n.family].filter(Boolean).join(' ');\n};\n\nconst getAge = (birthDate) => {\n  if (!birthDate) return '?';\n  const dob = new Date(birthDate);\n  if (isNaN(dob.getTime())) return '?';\n  const today = new Date();\n  let age = today.getFullYear() - dob.getFullYear();\n  const m = today.getMonth() - dob.getMonth();\n  if (m < 0 || (m === 0 && today.getDate() < dob.getDate())) age--;\n  return age;\n};\n\nconst getCodeText = (r) =>\n  r?.code?.text || r?.code?.coding?.[0]?.display || r?.code?.coding?.[0]?.code || '?';\n\nconst getMedicationText = (m) =>\n  m?.medicationCodeableConcept?.text ||\n  m?.medicationCodeableConcept?.coding?.[0]?.display ||\n  m?.medication?.concept?.text || '?';\n\nconst getAllergyText = (a) =>\n  a?.code?.text || a?.code?.coding?.[0]?.display || 'Unknown allergy';\n\nconst getImmunizationText = (i) =>\n  i?.vaccineCode?.text || i?.vaccineCode?.coding?.[0]?.display || '?';\n\nconst getObsValue = (obs) => {\n  if (obs?.valueQuantity?.value !== undefined)\n    return `${Number(obs.valueQuantity.value).toFixed(1)} ${obs.valueQuantity.unit || ''}`.trim();\n  if (obs?.valueString) return obs.valueString;\n  if (obs?.valueCodeableConcept?.text) return obs.valueCodeableConcept.text;\n  if (Array.isArray(obs?.component)) {\n    let sys = null, dia = null;\n    for (const c of obs.component) {\n      const label = (c?.code?.text || c?.code?.coding?.[0]?.display || '').toLowerCase();\n      const val = c?.valueQuantity?.value;\n      const unit = c?.valueQuantity?.unit || 'mm[Hg]';\n      if (label.includes('systolic')) sys = `${Math.round(val)} ${unit}`;\n      if (label.includes('diastolic')) dia = `${Math.round(val)} ${unit}`;\n    }\n    if (sys || dia) return `${sys ? 'Sys ' + sys : ''}${sys && dia ? ' / ' : ''}${dia ? 'Dia ' + dia : ''}`;\n  }\n  return '\u2014';\n};\n\nconst patient    = parseFHIRFromNode('PV: Fetch Patient');\nconst condB      = parseFHIRFromNode('PV: Fetch Conditions');\nconst medB       = parseFHIRFromNode('PV: Fetch Medications');\nconst vitalB     = parseFHIRFromNode('PV: Fetch Vitals');\nconst labB       = parseFHIRFromNode('PV: Fetch Labs');\nconst allergyB   = parseFHIRFromNode('PV: Fetch Allergies');\nconst immB       = parseFHIRFromNode('PV: Fetch Immunizations');\n\nconst conditionsRaw    = getResources(condB);\nconst medicationsRaw   = getResources(medB);\nconst vitalsRaw        = getResources(vitalB);\nconst labsRaw          = getResources(labB);\nconst allergiesRaw     = getResources(allergyB);\nconst immunizationsRaw = getResources(immB);\n\n// No status filtering \u2014 include all, label inline\nconst conditions = conditionsRaw.map(c =>\n  `${getCodeText(c)} (${c?.clinicalStatus?.coding?.[0]?.code || c?.clinicalStatus?.text || 'active'})`\n);\n\nconst medications = medicationsRaw.map(m => {\n  const d = m?.dosageInstruction?.[0];\n  const doseVal = d?.doseAndRate?.[0]?.doseQuantity?.value;\n  const doseUnit = d?.doseAndRate?.[0]?.doseQuantity?.unit || '';\n  const dose = d?.text || (doseVal != null ? `${doseVal} ${doseUnit}`.trim() : 'as directed');\n  const asNeeded = d?.asNeededBoolean ? ' as needed' : '';\n  return `${getMedicationText(m)} \u2014 ${dose}${asNeeded}`;\n});\n\nconst vitals = vitalsRaw.slice(0, 8).map(v =>\n  `${getCodeText(v)}: ${getObsValue(v)} (${fmtDate(v.effectiveDateTime || v.issued)})`\n);\n\nconst labs = labsRaw.slice(0, 8).map(l =>\n  `${getCodeText(l)}: ${getObsValue(l)} (${fmtDate(l.effectiveDateTime || l.issued)})`\n);\n\nconst allergies = allergiesRaw.map(a =>\n  `${getAllergyText(a)} (${a?.criticality || a?.reaction?.[0]?.severity || '\u2014'})`\n);\n\nconst imms = immunizationsRaw.map(i =>\n  `${getImmunizationText(i)} on ${fmtDate(i.occurrenceDateTime || i.recorded)}`\n);\n\nconst patientInfo = `Name: ${getName(patient)} | DOB: ${patient?.birthDate || '?'} | Age: ${getAge(patient?.birthDate)} | Gender: ${patient?.gender || '?'} | MRN: ${patient?.id || '?'}`;\n\nconst context = [\n  `PATIENT: ${patientInfo}`,\n  `\\nACTIVE CONDITIONS (${conditions.length}):\\n${conditions.join('\\n') || 'None recorded'}`,\n  `\\nACTIVE MEDICATIONS (${medications.length}):\\n${medications.join('\\n') || 'None recorded'}`,\n  `\\nALLERGIES:\\n${allergies.join('\\n') || 'NKDA'}`,\n  `\\nRECENT VITALS:\\n${vitals.join('\\n') || 'None recorded'}`,\n  `\\nRECENT LABS:\\n${labs.join('\\n') || 'None recorded'}`,\n  `\\nIMMUNIZATIONS:\\n${imms.join('\\n') || 'None recorded'}`,\n].join('\\n');\n\nreturn [{\n  json: {\n    context,\n    patientName: getName(patient),\n    debug: {\n      patientResourceType: patient?.resourceType || null,\n      conditionsCountRaw: conditionsRaw.length,\n      medicationsCountRaw: medicationsRaw.length,\n      vitalsCountRaw: vitalsRaw.length,\n      labsCountRaw: labsRaw.length,\n      allergiesCountRaw: allergiesRaw.length,\n      immunizationsCountRaw: immunizationsRaw.length,\n    }\n  }\n}];"
      },
      "id": "32eaab7c-49b9-4226-9efb-63fa934e286c",
      "name": "PV: Assemble Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2512,
        3984
      ]
    },
    {
      "parameters": {
        "jsCode": "// \u2500\u2500\u2500 FORMAT PRE-VISIT SUMMARY HTML \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst input = $input.first().json;\nlet text = '';\n\ntry {\n  const output = input.output;\n  if (typeof output === 'string') {\n    text = output;\n  } else if (Array.isArray(output)) {\n    for (const msg of output) {\n      if (Array.isArray(msg?.content)) {\n        for (const block of msg.content) {\n          if (block?.type === 'output_text' && block?.text) text += block.text;\n        }\n      } else if (typeof msg?.text === 'string') {\n        text += msg.text;\n      }\n    }\n  } else if (typeof output === 'object' && output !== null) {\n    if (Array.isArray(output?.content)) {\n      for (const block of output.content) {\n        if (block?.type === 'output_text' && block?.text) text += block.text;\n      }\n    } else if (typeof output?.text === 'string') {\n      text = output.text;\n    }\n  }\n  if (!text) text = input.text || input.message || input.content || '';\n} catch (e) { text = ''; }\n\nif (!text) {\n  return [{ json: { html: `<div style='padding:16px;background:#fef2f2;border:1px solid #fca5a5;border-radius:8px;color:#991b1b'><strong>AI Agent error:</strong> No response received. Check that OpenAI credentials are configured.</div>` } }];\n}\n\nconst lines = text.split('\\n');\nlet html = '<div style=\"font-family:system-ui,sans-serif;line-height:1.6\">';\nhtml += `<div style=\"background:#f0fdf4;border:1px solid #86efac;border-radius:8px;padding:12px 16px;margin-bottom:16px;font-size:13px;color:#166534\">\ud83e\ude7a AI-generated pre-visit brief based on FHIR patient record. Review before seeing patient.</div>`;\n\nfor (const line of lines) {\n  const trimmed = line.trim();\n  if (!trimmed) { html += '<br>'; continue; }\n  if (/^[A-Z][A-Z \\/(\\\\-]{4,}:?$/.test(trimmed) || (trimmed.startsWith('**') && trimmed.endsWith('**'))) {\n    const label = trimmed.replace(/^\\*\\*|\\*\\*$/g,'').replace(/:$/,'');\n    html += `<div style=\"margin-top:16px;margin-bottom:6px;font-size:13px;font-weight:700;color:#166534;text-transform:uppercase;letter-spacing:.5px;border-bottom:1px solid #dcfce7;padding-bottom:4px\">${label}</div>`;\n  } else if (trimmed.startsWith('- ') || trimmed.startsWith('\u2022 ') || /^\\d+\\./.test(trimmed)) {\n    const item = trimmed.replace(/^[-\u2022]\\s+/,'').replace(/^\\d+\\.\\s*/,'');\n    html += `<div style=\"padding:3px 0 3px 14px;border-left:3px solid #bbf7d0;margin:2px 0;font-size:13px;color:#1e293b\">${item}</div>`;\n  } else {\n    html += `<p style=\"margin:4px 0;font-size:13px;color:#1e293b\">${trimmed}</p>`;\n  }\n}\nhtml += '</div>';\nreturn [{ json: { html } }];"
      },
      "id": "e88696fb-e231-4aeb-aa16-a409bf62d048",
      "name": "PV: Format HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3408,
        3984
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "97d3e793-834b-43df-8f0f-5e1972eece18",
      "name": "PV: Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3632,
        3984
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "5b0fa348-cbc6-4f09-95bd-da9e3432b435",
      "name": "DS: OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2768,
        2832
      ],
      "credentials": {
        "openAiApi": {
          "id": "ew0Zr9x1Cp7wFZs7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ 'Generate a discharge summary from the following FHIR patient data:\\n\\n' + $json.context }}",
        "options": {
          "systemMessage": "You are a clinical documentation specialist. Write a professional hospital discharge summary in clear clinical language. Structure the summary with these clearly labeled sections: REASON FOR ADMISSION, HOSPITAL COURSE, SIGNIFICANT FINDINGS (vitals and labs), DISCHARGE MEDICATIONS, ALLERGIES, FOLLOW-UP INSTRUCTIONS, and DISCHARGE CONDITION. Be concise and clinically accurate. Do not invent information not present in the data."
        }
      },
      "id": "5e9a5ac3-08de-49fd-8d57-bc1abe7ccbe8",
      "name": "DS: AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2688,
        2608
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "{{\n'Create a structured pre-visit summary using ONLY the patient context below.\\n\\n' +\n'PATIENT CONTEXT:\\n' +\n$json.context +\n'\\n\\n' +\n'Return the answer in exactly this format:\\n\\n' +\n'**PATIENT SNAPSHOT:**\\n' +\n'- Name:\\n' +\n'- Age:\\n' +\n'- Gender:\\n' +\n'- Key Demographics:\\n\\n' +\n'**REASON FOR VISIT:**\\n' +\n'- \\n\\n' +\n'**ACTIVE PROBLEMS:**\\n' +\n'1.\\n' +\n'2.\\n\\n' +\n'**CURRENT MEDICATIONS:**\\n' +\n'- \\n\\n' +\n'**ALLERGIES:**\\n' +\n'- \\n\\n' +\n'**RECENT VITALS SUMMARY:**\\n' +\n'- \\n\\n' +\n'**RECENT LAB HIGHLIGHTS:**\\n' +\n'- \\n\\n' +\n'**IMMUNIZATION STATUS:**\\n' +\n'- \\n\\n' +\n'**RECOMMENDED DISCUSSION POINTS:**\\n' +\n'1.\\n' +\n'2.\\n' +\n'3.\\n' +\n'4.\\n' +\n'5.'\n}}"
            },
            {
              "content": "={{\n'Create a structured pre-visit summary using ONLY the patient context below.\\n\\n' +\n'PATIENT CONTEXT:\\n' +\n$json.context +\n'\\n\\n' +\n'Return the answer in exactly this format:\\n\\n' +\n'**PATIENT SNAPSHOT:**\\n' +\n'- Name:\\n' +\n'- Age:\\n' +\n'- Gender:\\n' +\n'- Key Demographics:\\n\\n' +\n'**REASON FOR VISIT:**\\n' +\n'- \\n\\n' +\n'**ACTIVE PROBLEMS:**\\n' +\n'1.\\n' +\n'2.\\n\\n' +\n'**CURRENT MEDICATIONS:**\\n' +\n'- \\n\\n' +\n'**ALLERGIES:**\\n' +\n'- \\n\\n' +\n'**RECENT VITALS SUMMARY:**\\n' +\n'- \\n\\n' +\n'**RECENT LAB HIGHLIGHTS:**\\n' +\n'- \\n\\n' +\n'**IMMUNIZATION STATUS:**\\n' +\n'- \\n\\n' +\n'**RECOMMENDED DISCUSSION POINTS:**\\n' +\n'1.\\n' +\n'2.\\n' +\n'3.\\n' +\n'4.\\n' +\n'5.'\n}}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        2736,
        3984
      ],
      "id": "452a698e-0d98-49c8-bac7-fa123d941312",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "ew0Zr9x1Cp7wFZs7",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "GET /list-panels": {
      "main": [
        [
          {
            "node": "Return Panel Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /risk-score-run": {
      "main": [
        [
          {
            "node": "Fetch Vitals from FHIR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Vitals from FHIR": {
      "main": [
        [
          {
            "node": "Compute Risk Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Risk Score": {
      "main": [
        [
          {
            "node": "Return Risk Cards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /care-gaps-run": {
      "main": [
        [
          {
            "node": "Fetch Immunizations",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Labs for Care Gaps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Immunizations": {
      "main": [
        [
          {
            "node": "Evaluate Care Gaps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Care Gaps": {
      "main": [
        [
          {
            "node": "Return Care Gaps Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DS: OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "DS: AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "POST /previsit-summary": {
      "main": [
        [
          {
            "node": "PV: Fetch Patient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PV: Fetch Patient": {
      "main": [
        [
          {
            "node": "PV: Fetch Conditions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PV: Fetch Conditions": {
      "main": [
        [
          {
            "node": "PV: Fetch Medications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PV: Fetch Medications": {
      "main": [
        [
          {
            "node": "PV: Fetch Vitals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PV: Fetch Vitals": {
      "main": [
        [
          {
            "node": "PV: Fetch Labs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PV: Fetch Labs": {
      "main": [
        [
          {
            "node": "PV: Fetch Allergies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PV: Fetch Allergies": {
      "main": [
        [
          {
            "node": "PV: Fetch Immunizations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PV: Fetch Immunizations": {
      "main": [
        [
          {
            "node": "PV: Assemble Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PV: Assemble Context": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "PV: Format HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PV: Format HTML": {
      "main": [
        [
          {
            "node": "PV: Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /discharge-summary": {
      "main": [
        [
          {
            "node": "DS: Fetch Patient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DS: Fetch Patient": {
      "main": [
        [
          {
            "node": "DS: Fetch Conditions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DS: Fetch Conditions": {
      "main": [
        [
          {
            "node": "DS: Fetch Medications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DS: Fetch Medications": {
      "main": [
        [
          {
            "node": "DS: Fetch Vitals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DS: Fetch Vitals": {
      "main": [
        [
          {
            "node": "DS: Fetch Labs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DS: Fetch Labs": {
      "main": [
        [
          {
            "node": "DS: Fetch Allergies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DS: Fetch Allergies": {
      "main": [
        [
          {
            "node": "DS: Fetch Encounters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DS: Fetch Encounters": {
      "main": [
        [
          {
            "node": "DS: Assemble Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DS: Assemble Context": {
      "main": [
        [
          {
            "node": "DS: AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DS: AI Agent": {
      "main": [
        [
          {
            "node": "DS: Format HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DS: Format HTML": {
      "main": [
        [
          {
            "node": "DS: Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9a8ebf93-a72c-4563-810e-08fa2c75be36",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "30c7489ae6df6416bf7b82af3be55103f5e110fc086279231ebffae2ccb22650"
  },
  "id": "lGVXZ1dZ9WDMQCBy",
  "tags": []
}